body{
    font-family: Trasandina, 'Gotham Helvetica';
    margin: 0;
}

.top-section{
    display: flex;
    justify-content: space-between;
}
.Intro{
    background-color: #D9D9D9;
    height: 1100px;
}
.name{
    font-size: 90px;
    margin: 0;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 20px;
    align-items: center;
}

ol{
    list-style: none;
    display: flex;
    white-space: nowrap;
}

li{
    margin: 45px 10px 10px 10px;
    font-weight: bold;
    font-size: 18px;
}

.one{
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    width: 500px;
    display: table;
    margin: auto;
}

.image{
    width: 900px;
    height: 600px;
    display: table;
    margin: auto;
}

.button{
    height: 50px;
    width: 300px;
    font-size: 25px;
    color: white;
    background-color: #5570FF;
    display: table;
    margin: 50px auto;
    border-radius: 2rem;
}

a{
    text-decoration: none;
}
a:visited{
    text-decoration: none;
}

.feature{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}
 
.two{
    font-size: 25px;
    font-weight: bold;
}

.flex{
    display: flex;
    gap: 10px;
    text-align: center;
    justify-content: space-evenly;
}
.searchable, .downloadable, .responsive{
    border: 1px solid black;
    width: 450px;
    border-radius: 0.5rem;
    justify-content: space-around;
    background-color: #D9D9D9;
}

.About{
    text-align: center;
    width: 1200px;
    display: table;
    margin: auto;
    margin-bottom: 50px;
    background-color: #D9D9D9;
    margin-top: 30px;
    height: 250px;
    border-radius: 0.5rem;
}

.three{
    font-size: 20px;
    text-decoration: none;
    display: table;
    margin: auto;
}

@media only screen and (max-width: 480px){
    .Intro{
        width: 100vw;
        height: 400px;
    }
    .name{
        font-size: 20px;
    }
    ol{
        margin-left: auto;
        white-space: nowrap;
    }
    li{
        font-size: 12px;
        margin: 9px;
    }

    .one{
        font-size: 20px;
        display: inline;
    }
    .image{
        width: 150px;
        height: 120px;
    }
    .button{
        height: 30px;
        width: 200px;
    }
    .feature{
        font-size: 25px;
    }
    .two{
        font-size: 11px;
    }
    .searchable, .downloadable, .responsive{
        font-size: 10px;
    }
    .About{
        width: 98vw;

    }
}
@media only screen and (max-width: 280px) {
    li{
        font-size: 7px;
        margin: 11px;
    }
}

@media (min-width: 480px) and (max-width: 1180px){
    .top-section{
        display: block;
        margin: 0;
    }
    .Intro {
        width: 100vw;
        height: 590px;
    }
    .name {
        font-size: 70px;
        margin: 0;
        text-align: center;
    }
    ol {
        padding: 0;
        text-align: center;
        margin-left: auto;
        white-space: nowrap;
        height: 50px;
        align-self: center;
        display: none;
        margin: auto;
    }       
    li {
        font-size: 20px;
        margin-top: 35px;
    }        
    .one {
        font-size: 40px;
        display: inline;
    }        
    .image {
        width: 450px;
        height: 270px;
    }        
    .button {
        height: 30px;
        width: 200px;
    }        
    .feature {
        font-size: 40px;
    }        
    .two {
        font-size: 25px;
    }        
    .searchable, .downloadable, .responsive {
        font-size: 17px;
    }        
    .About {
        width: 98vw;
        font-size: 20px;
    }
}
