body{
    font-family: Trasandina, 'Gotham Helvetica';
}

.top-section{
    display: flex;
}

.name{
    font-size: 90px;
    margin: 0;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 20px;
    
}

ol{
    list-style: none;
    display: flex;
    margin-left: 650px;
}

li{
    margin: 45px 10px 10px 10px;
    font-weight: bold;
    font-size: 18px;
}

.one{
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    width: 500px;
    display: table;
    margin: auto;
}

.image{
    width: 900px;
    height: 600px;
    display: table;
    margin: auto;
}
